# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log
*.sqlite3

# Virtual Environment
venv/
env/
.venv/

# IDE / Editor
.vscode/
.idea/
*.swp

# OS files
.DS_Store
Thumbs.db

# Django / Flask (if using)
db.sqlite3
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
media/
staticfiles/

# Environment / Credentials
.env
*.env

# Cache / Build
build/
dist/
*.egg-info/
*.egg
